<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="dataForm">
    <ng-container formArrayName="Ventas">      
      <div class="row" *ngFor="let venta of Ventas.controls; let i = index">
        <ng-container [formGroupName]="i">
          <div class="col-6">
            <input type="text" formControlName="title">
          </div>
          <div class="col-6">
            <input type="number" formControlName="number">
          </div>
        </ng-container>
      </div>
      <div class="row mt-5">
        <div class="col-6">
          <button (click)="addVentas()">+</button>
        </div>
        <div class="col-6">
          <input type="submit">
        </div>
        
      </div>
    </ng-container>
  </form>
</div>